.min-h-screen {
    min-height: 100vh;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: space-between;

}

.font-bold {
    font-weight: bolder;
}

.font-size2 {
    font-size: 10px;
    font-family: 'Vina Sans', cursive;
}

.font-size {
    font-size: 40px;
    font-family: 'Pacifico', cursive;

}

.flex-col {
    flex-direction: column;
}

.my-1 {
    margin-top: 13px;
    ;
    margin-bottom: 13px;
}

.my-2 {
    margin-top: 23px;
    ;
    margin-bottom: 23px;
}

.px-2 {
    padding-top: 20px;
    ;
    padding-bottom: 20px;
}

.px-2 {
    padding-left: 10px;
    ;
    padding-bottom: 10px;
}

.text-blue {
    color: rgb(148, 60, 248);
}

.text-blue2 {
    margin-top: 15px;
    font-size: 23px;
    color: rgb(38, 124, 65);

}

.btn {
    padding: 3px 8px;
    padding-bottom: 5px;
    border: 2px solid rgb(55, 17, 17);
    border-radius: 10px;
    color: rgb(237, 255, 214);
    background-color: rgb(148, 60, 248);
    font-family: 'Vina Sans', cursive;
    font-size: 25px;
}
.btn:hover {
    background-color: rgb(255, 255, 255);
    color: #a533ec;
}


.btn2 {
    padding: 3px 6px;
    padding-bottom: 4px;
    border: 3px solid rgba(238, 219, 255, 0.782);
    border-radius: 6px;
    color: rgb(236, 241, 245);
    background-color: rgb(40, 4, 73);
    font-size: 14px;

}
.btn2:hover {
    background-color: rgb(255, 255, 255);
    color: #3b075b;
}


.btn3 {
    padding: 3px 6px;
    padding-bottom: 3px;
    border: 3px solid rgba(254, 211, 244, 0.782);
    border-radius: 8px;
    color: rgb(8, 1, 86);
    background-color: rgb(236, 220, 255);
    font-family: 'Regular 400', cursive;

}
.btn3:hover {
    background-color: rgb(255, 255, 255);
    color: #3d0262;
}


.btn4 {
    padding: 3px 28px;
    margin-left: 520px;
    margin-top: 15px;
    padding-bottom: 5px;
    border: 2px solid rgb(55, 17, 17);
    border-radius: 10px;
    color: rgb(237, 255, 214);
    background-color: rgb(148, 60, 248);
    font-family: 'Vina Sans', cursive;
    font-size: 35px;
}
.btn4:hover {
    background-color: rgb(255, 255, 255);
    color: #a533ec;
}


.size {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}

.size2 {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}


.size3 {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}

.size4 {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}

.text {
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 20px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(30, 4, 56);



}

.text2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 110px;
    color: rgb(167, 89, 246);
    font-family: 'Sigmar', cursive;


}

.size5 {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}

.size6 {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}


.size7 {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}

.size8 {
    height: 250px;
    padding: 20px 25px;
    width: 250px;
    margin-bottom: 150px;
    border-radius: 100px;
    background: scroll;

}

.text3 {
    color: rgb(206, 171, 245);
}